/* Graph-related style */

.GraphTraining-state {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 3rem 0 4rem 0;
}
.GraphTraining-stateGoal {
  /* kind of a hack... */
  position: absolute;
  right: 0;
}

.GraphTraining-other_states{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.GraphTraining-successors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* GraphNavigation */
.GraphNavigation {
  margin: 0 auto;
}

.GraphNavigation-State.State {
  border-width: 0;

  z-index: 3;
  position: absolute;

  margin: 3rem;
  height: 4rem;
  width: 4rem;
}

.GraphNavigation-State.GraphNavigation-visited {
  border-width: 3px;
}

.GraphNavigation-State {
  /* HACK structuring this way so it's easier to have in text. */
  background-image: url('/static/optdisco/images/openmoji/2B1B.svg');
}

.GraphNavigation-edge {
  height: 2px;
  transform-origin: left center;
  position: absolute;
  background-color: black;

  transition: opacity 300ms;
}
.GraphNavigation-edge.is-faded {
  opacity: 0.1;
}
.GraphNavigation-currentEdge {
  z-index: 1;
  height: 4px;
}

.GraphNavigation-current {
  background-image: url('/static/optdisco/images/openmoji/2733.svg');
}
.GraphNavigation-goal {
  background-image: url('/static/optdisco/images/openmoji/2B50.svg');
}
.GraphNavigation-probe {
  background-image: url('/static/optdisco/images/openmoji/2754.svg');
  background-color: white;
  border: 3px solid black !important;
  border-radius: 100% !important;
}
.GraphNavigation-cue {
  background-image: url('/static/optdisco/images/openmoji/2734.svg');
}
.GraphNavigation-key {
  position: absolute;
  border-radius: 5px;
  border: 1px solid black;
  width: 18pt;
  height: 20pt;
  color: white;
  background-color: black;

  opacity: 0;
  transition: opacity 300ms;

  z-index: 2;
}
.GraphNavigation-currentKey {
  opacity: 1;
}

.GraphNavigation-key-J,
.GraphNavigation-currentEdge-J {
  background-color: darkorange;
}
.GraphNavigation-key-K,
.GraphNavigation-currentEdge-K {
  background-color: violet;
}
.GraphNavigation-key-L,
.GraphNavigation-currentEdge-L {
  background-color: mediumturquoise;
}
.GraphNavigation-key-I,
.GraphNavigation-currentEdge-I {
  background-color: red;
}

.GraphNavigation-instruction {
  height: 100px;
}

.State {
  border: 1px solid #555;
  border-radius: 5px;
  width: 10rem;
  line-height: 8rem;
  font-size: 8rem;
  height: 10rem;
  padding: 0.5rem;
  box-sizing: border-box;
  transition: background-color 300ms;
  margin: 1rem;
  user-select: none;
}

.State > img {
  display: block;
}

.SuccState {
    border: 5px solid greenyellow;
}

.NonSuccState {
    border: 5px solid red;
}

.HighlightedState {
    border: 5px solid darkblue;
}

.Peek {
    font-size: 20px;
}

.GraphTraining-successors .State:hover {
  cursor: pointer;
  background-color: #ccc;
}

.PathIdentification-states {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.PathIdentification-selected,
.PathIdentification-selected:hover {
  background-color: #bbb !important;
}
.PathIdentification-selectable:hover {
  cursor: pointer;
  background-color: #ddd;
}

/* Imports from Blockworld */

.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

.modal-content {
   background-color: #fefefe;
   margin: auto;
   padding: 20px;
   text-align: center;
   border: 1px solid #888;
   width: 40%;
}

.jspsych-content {
  max-width: 100%;
 margin-top: 0;
 position: relative;
}

.legal hr {
 border-color: #ccc;
}

/* The timer */

.Timer-progressContainer {
  display: inline-block;
  width: 50px;
  height: 1rem;
  background-color: #eee;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.Timer-progress {
  height: 100%;
  width: 100%;
  background-color: rgb(90, 160, 200);
  background-color: #aaa;
  transition: transform 1s linear;
  transform-origin: left;
  transform: scaleX(0);
}
.Timer-progress.progressing {
  transform: scaleX(1);
}
