
<!DOCTYPE html>
<!--
The consent.html displays the text of your IRB-approved
consent form.  Even if you are not required to provide
a consent form, it is helpful to use this form to
describe what people can do if an error comes up, etc...

-->
<html>
  <head>
    <meta charset="utf-8" />
    <title>Psychology Experiment - Informed Consent Form</title>
    <link rel="Favicon" href="static/favicon.ico" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript">
    function onexit() {
      self.close();
    }
    </script>
  </head>
  <body>
    <div id="container-consent" class="container-flex">
      <div id="consent">
        <h2>We need your consent to proceed</h2>
        <hr />
        <div class="legal well">

          <p class="block-text">
            You are being invited to take part in a research study. Before you decide to participate in this study, it is important that you understand why the research is being done and what it will involve. Please take the time to read the following information carefully. Please ask the researcher if there is anything that is not clear or if you need more information.
          </p>

          <h5>Purpose of the research:</h5>

          <p class="block-text">
            This study is designed to investigate how people learn algorithmic solutions to problems. In this task, you will be asked to write and answer questions about algorithmic solutions.
          </p>

          <h5>Study Procedures</h5>

          <p class="block-text">
            The experiment consists of selecting and answering questions about sequences of actions that will help a robot achieve its goals.
            In some cases you will be asked to provide explanations or justifications for your responses, typically in the form of a short paragraph.
            The task will not involve deception or emotionally disturbing materials.
          </p>
          <p class="block-text">
            The answers you provide in the task may be used as stimuli for future participants. However, data that would identify you will not be shared with other participants.
          </p>

          <p class="block-text">
            Your total expected time commitment for this study is: <b>35 minutes.</b>
          </p>

          <h5>Benefits and Risks</h5>

          <p class="block-text">
            There are no direct benefits to you as a participant; however, by furthering our understanding of human cognition, this research will benefit society by helping with the development of automated systems that can better solve problems that are computationally challenging, but that people can solve easily with little formal guidance.
          </p>

          <p class="block-text">
            Risks associated with participation in this study are minimal. You may feel slight discomfort answering some questions, but you may refrain from answering any questions that make you uncomfortable and may withdraw your participation at any time even after completing the experiment without penalty.
          </p>

          <h5>Confidentiality</h5>

          <p class="block-text">
            We will not be asking for any personally identifying information, and we will handle responses as confidentially as possible.
            Your name, or your Worker IDs will never be tied to your responses on this survey.
            However, we cannot guarantee the confidentiality of information transmitted over the Internet.
            To minimize this risk, data containing anything that might be personally identifiable (e.g. Worker IDs) will be encrypted on transfer and storage and will only be accessible to qualified lab personnel.
            We will be keeping data collected as part of this experiment indefinitely.
            This anonymized data (containing neither Worker IDs nor IP addresses) may be shared with the scientific community and corporate sponsors.
          </p>

          <h5>Compensation</h5>

          <p class="block-text">
            For your participation, you will receive <b>$6.00</b>
            as well as a performance-dependent bonus ranging from <b>$0.00 - $3.30</b>.
            If you are on Prolific and for any reason you do not complete the study (e.g. technical difficulties, or a desire to stop), we will only be able to pay you if you send a message through Prolific, or by emailing the researcher, Carlos Correa, at cgcorrea@princeton.edu.
            If you have any questions about the study, feel free to contact Carlos Correa or the Principal Investigator, Thomas Griffiths, at tomg@princeton.edu.
          </p>

          <h5>Who to contact with questions</h5>

          <p class="block-text">
            <ul>
              <li>Principal Investigator:
                <div style="margin-left: 3rem;">
                  Dr. Thomas Griffiths<br />
                  Email: tomg@princeton.edu
                </div>
              </li>
              <li>If you have questions regarding your rights as a research subject, or if problems arise which you do not feel you can discuss with the Investigator, please contact the Institutional Review Board at:
                <div style="margin-left: 3rem;">
                  Assistant Director, Research Integrity and Assurance<br />
                  Phone: (609) 258-8543<br />
                  Email: irb@princeton.edu
                </div>
              </li>
            </ul>
          </p>

          <hr />

          <p class="block-text">
            I understand the information that was presented and that:
            <ul>
              <li>My participation is voluntary, and I may withdraw my consent and discontinue participation in the project at any time.  My refusal to participate will not result in any penalty.</li>
              <li>I do not waive any legal rights or release Princeton University, its agents, or you from liability for negligence.</li>
            </ul>
          </p>

          <p class="block-text">
            I hereby give my consent to be the subject of your research.
          </p>

      </div>

      <hr />
      <h4>Do you understand and consent to these terms?</h4>
      <br />

      <center>
        <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
          <span class="glyphicon glyphicon-ok"></span> I agree
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
          <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this experiment
        </button>
      </center>

    </div>
  </div>
  </body>
</html>
